

.back_button {
  border-radius: 13px;
  padding: 3px 5px 2px 5px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(61, 62, 64, 0.83);
  text-align: center;
  width: 50px;
  height: 20px;
}

.back_button, text{
  text-color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
/*  font-style: normal;*/
}

.bust_div {
  border-radius: 15px;
  width: 90%;
  height: 45.9vh;
  margin: auto;
  background-color: rgba(61, 62, 64, 0.83);
  margin-bottom: 3vh;
  padding: 10px;

}


.bust_div_block {
  margin-bottom: 4.1vh;
  background-color: white;
  width: 100%;
  height: 6.3vh;
  margin-right: auto;
  margin-left: auto;
  /*background-color: rgba(103, 103, 103, 1);
  box-shadow: 2px 2px 100px rgba(23, 23, 23, 0.36);*/
  background-color: rgba(103, 103, 103, 0);
  border-radius: 13px;

}

.bust_div_block_absences {
/*  box-shadow: inset -1 0 100px 10px #000;*/
  filter: blur(5px);
  margin-bottom: 2vh;
  background-color: white;
  width: 100%;
  height: 9vh;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(103, 103, 103, 0);
  border-radius: 13px;
}

.div_dlya_raspolozhenia_bust {
  display: inline-block;
  height: 50px;
}

.bust_block_image {
  display: inline-block;
  float: left;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 7px;

}

#bust_block_image {
  width: 47px;
  height: 47px;
  border-radius: 10px;
}

.bust_block_name {
  font-size: 15px;
  height: 10px;
  display: inline-block;
  margin-top: 0px;
  padding-top: 9px;
  padding-left: 12px;
}

.bust_block_nam, p {
  color: white;
  height: 20px;
  display: inline-block;
  margin-top: 0px;
}

.bust_block_donation {
    width: 100%;
  height: 15px;
  margin-top: 6px;
  margin-left: 66px;
  font-size: 14px;
}

.bust_block_donation, p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bust_block_icon {
  display: inline-block;
  height: 15px;
  margin-left: auto;
  margin-top: 3vh;
  margin-right: 12px;
  float: right;
  font-size: 14px;
}

.bust_block_upgrade_n {
  color: rgba(212, 212, 212, 1);
}

.CL_lvl1 {
    filter: blur(10px);
}

* hr {
  width: 95%;
}

.bust_div_name1 {
  margin-left: 13px;
}

.bust_div_name2 {
  margin-left: 13px;

